
*.db
.vs/MyMaterials/v15/.suo
Binaries/Win64/MyMaterialsEditor.target
Binaries/Win64/UE4Editor-MyMaterials.dll
Binaries/Win64/UE4Editor-MyMaterials.pdb
Binaries/Win64/UE4Editor.modules
Content/emissive/M_emissive.uasset
Content/glass/M_glass.uasset
Content/glass/M_glass_Inst.uasset
Content/M_metalic.uasset
Content/M_metalic1.uasset
Content/M_metalic2.uasset
Content/M_metalic2_Inst.uasset
Content/M_metalic3.uasset
Content/M_metalic3_Inst.uasset
Content/M_metalic4.uasset
Content/M_metalic4_Inst.uasset
Content/M_metalic5.uasset
Content/MainMap.umap
Content/MainMap_BuiltData.uasset
Content/mask/M_mask.uasset
Content/mask/M_mask_offset.uasset
Content/water/M_water.uasset
Content/water/M_water_Inst.uasset
Intermediate/AssetRegistryCache/0774b427.bin
Intermediate/AssetRegistryCache/08d04bc2.bin
Intermediate/AssetRegistryCache/0963a8ae.bin
Intermediate/AssetRegistryCache/09da5d21.bin
Intermediate/AssetRegistryCache/12967f94.bin
Intermediate/AssetRegistryCache/149ab355.bin
Intermediate/AssetRegistryCache/15646281.bin
Intermediate/AssetRegistryCache/1af87ad9.bin
Intermediate/AssetRegistryCache/1eafb651.bin
Intermediate/AssetRegistryCache/25fb0b81.bin
Intermediate/AssetRegistryCache/2c587bb2.bin
Intermediate/AssetRegistryCache/2e6adb06.bin
Intermediate/AssetRegistryCache/34eee4e3.bin
Intermediate/AssetRegistryCache/3d23ad89.bin
Intermediate/AssetRegistryCache/40976f9d.bin
Intermediate/AssetRegistryCache/40a296e3.bin
Intermediate/AssetRegistryCache/46cccdbb.bin
Intermediate/AssetRegistryCache/50836bfa.bin
Intermediate/AssetRegistryCache/521e495c.bin
Intermediate/AssetRegistryCache/53ed6917.bin
Intermediate/AssetRegistryCache/545fc153.bin
Intermediate/AssetRegistryCache/5601003c.bin
Intermediate/AssetRegistryCache/57690fda.bin
Intermediate/AssetRegistryCache/5ae8f943.bin
Intermediate/AssetRegistryCache/5c5ea212.bin
Intermediate/AssetRegistryCache/5e777b45.bin
Intermediate/AssetRegistryCache/677c5bbd.bin
Intermediate/AssetRegistryCache/6907dad3.bin
Intermediate/AssetRegistryCache/783aa27a.bin
Intermediate/AssetRegistryCache/787ef919.bin
Intermediate/AssetRegistryCache/79e41fb4.bin
Intermediate/AssetRegistryCache/7e921443.bin
Intermediate/AssetRegistryCache/83eb4579.bin
Intermediate/AssetRegistryCache/8c2b0d47.bin
Intermediate/AssetRegistryCache/8ce6710f.bin
Intermediate/AssetRegistryCache/8d0b0908.bin
Intermediate/AssetRegistryCache/8e605d86.bin
Intermediate/AssetRegistryCache/976e270a.bin
Intermediate/AssetRegistryCache/9d4ac999.bin
Intermediate/AssetRegistryCache/9fc19117.bin
Intermediate/AssetRegistryCache/a566944e.bin
Intermediate/AssetRegistryCache/a7a968a6.bin
Intermediate/AssetRegistryCache/a8bae3bc.bin
Intermediate/AssetRegistryCache/a91b33a8.bin
Intermediate/AssetRegistryCache/b0138eb0.bin
Intermediate/AssetRegistryCache/b767abee.bin
Intermediate/AssetRegistryCache/ba8930df.bin
Intermediate/AssetRegistryCache/c10fd3b6.bin
Intermediate/AssetRegistryCache/c148781b.bin
Intermediate/AssetRegistryCache/c3e54bfd.bin
Intermediate/AssetRegistryCache/c8d30aac.bin
Intermediate/AssetRegistryCache/c937f9b4.bin
Intermediate/AssetRegistryCache/cd161316.bin
Intermediate/AssetRegistryCache/da79db4a.bin
Intermediate/AssetRegistryCache/de1a794b.bin
Intermediate/AssetRegistryCache/e19f8e1b.bin
Intermediate/AssetRegistryCache/e4801435.bin
Intermediate/AssetRegistryCache/e93174fe.bin
Intermediate/AssetRegistryCache/e9ac13d8.bin
Intermediate/AssetRegistryCache/ec6fc17c.bin
Intermediate/AssetRegistryCache/ec98ae70.bin
Intermediate/AssetRegistryCache/eeebdbee.bin
Intermediate/AssetRegistryCache/f0328301.bin
Intermediate/AssetRegistryCache/fadabcb7.bin
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/ActorLayerUtilities.ini
Intermediate/Config/CoalescedSourceConfigs/ActorSequence.ini
Intermediate/Config/CoalescedSourceConfigs/AISupport.ini
Intermediate/Config/CoalescedSourceConfigs/AlembicImporter.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidMedia.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidPermission.ini
Intermediate/Config/CoalescedSourceConfigs/AnimationSharing.ini
Intermediate/Config/CoalescedSourceConfigs/AppleImageUtils.ini
Intermediate/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/AppleVision.ini
Intermediate/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
Intermediate/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
Intermediate/Config/CoalescedSourceConfigs/AudioCapture.ini
Intermediate/Config/CoalescedSourceConfigs/AvfMedia.ini
Intermediate/Config/CoalescedSourceConfigs/BackChannel.ini
Intermediate/Config/CoalescedSourceConfigs/BlastPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/CableComponent.ini
Intermediate/Config/CoalescedSourceConfigs/ChaosSolverPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/CharacterAI.ini
Intermediate/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/Compat.ini
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/CryptoKeys.ini
Intermediate/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithCADImporter.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithContent.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithDataPrepEditor.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithFBXImporter.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithGLTFImporter.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithImporter.ini
Intermediate/Config/CoalescedSourceConfigs/DataValidation.ini
Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
Intermediate/Config/CoalescedSourceConfigs/EditableMesh.ini
Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/EditorScriptingUtilities.ini
Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/FacialAnimation.ini
Intermediate/Config/CoalescedSourceConfigs/Firebase.ini
Intermediate/Config/CoalescedSourceConfigs/Game.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTagsList.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/GeometryCache.ini
Intermediate/Config/CoalescedSourceConfigs/GeometryCollectionPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/GitSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/GLTFImporter.ini
Intermediate/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
Intermediate/Config/CoalescedSourceConfigs/HTML5Networking.ini
Intermediate/Config/CoalescedSourceConfigs/ImgMedia.ini
Intermediate/Config/CoalescedSourceConfigs/Input.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/LauncherChunkInstaller.ini
Intermediate/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Intermediate/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
Intermediate/Config/CoalescedSourceConfigs/LinearTimecode.ini
Intermediate/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
Intermediate/Config/CoalescedSourceConfigs/MacGraphicsSwitching.ini
Intermediate/Config/CoalescedSourceConfigs/MagicLeap.ini
Intermediate/Config/CoalescedSourceConfigs/MagicLeapMedia.ini
Intermediate/Config/CoalescedSourceConfigs/MaterialAnalyzer.ini
Intermediate/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
Intermediate/Config/CoalescedSourceConfigs/MDLImporter.ini
Intermediate/Config/CoalescedSourceConfigs/MediaCompositing.ini
Intermediate/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
Intermediate/Config/CoalescedSourceConfigs/MeshEditor.ini
Intermediate/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
Intermediate/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
Intermediate/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
Intermediate/Config/CoalescedSourceConfigs/OculusVR.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
Intermediate/Config/CoalescedSourceConfigs/Paper2D.ini
Intermediate/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/PhysXVehicles.ini
Intermediate/Config/CoalescedSourceConfigs/PIEPreviewSettings.ini
Intermediate/Config/CoalescedSourceConfigs/PluginBrowser.ini
Intermediate/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
Intermediate/Config/CoalescedSourceConfigs/ProxyLODPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
Intermediate/Config/CoalescedSourceConfigs/SignificanceManager.ini
Intermediate/Config/CoalescedSourceConfigs/SkeletalReduction.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
Intermediate/Config/CoalescedSourceConfigs/StaticMeshEditorExtension.ini
Intermediate/Config/CoalescedSourceConfigs/SteamVR.ini
Intermediate/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/TcpMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UdpMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Intermediate/Config/CoalescedSourceConfigs/UObjectPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/VariantManager.ini
Intermediate/Config/CoalescedSourceConfigs/VariantManagerContent.ini
Intermediate/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/WebMMedia.ini
Intermediate/Config/CoalescedSourceConfigs/WebMMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/WmfMedia.ini
Intermediate/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
Intermediate/ReimportCache/3688439234.bin
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Backup/M_emissive_2019-07-27-07-51-37.uasset
Saved/Backup/M_glass_2019-07-27-07-51-37.uasset
Saved/Backup/M_glass_Inst_2019-07-27-07-51-37.uasset
Saved/Backup/M_mask_2019-07-27-07-51-38.uasset
Saved/Backup/M_mask_offset_2019-07-27-07-51-38.uasset
Saved/Backup/M_metalic1_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic2_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic2_Inst_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic3_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic3_Inst_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic4_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic4_Inst_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic5_2019-07-27-07-51-37.uasset
Saved/Backup/M_metalic_2019-07-27-07-51-37.uasset
Saved/Backup/M_water_2019-07-27-07-51-38.uasset
Saved/Backup/M_water_Inst_2019-07-27-07-51-38.uasset
Saved/Backup/MainMap_2019-07-27-07-51-37.umap
Saved/Backup/MainMap_BuiltData_2019-07-27-07-51-38.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-67EF6A694857BB1446D814A193EEF49A/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/WorldState/1578879363.json
Saved/Logs/MyMaterials-backup-2019.07.25-15.55.37.log
Saved/Logs/MyMaterials.log
